################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudio/Q1 Program 4/.vs/Q1 Program 4/DesignTimeBuild
