################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudio/Q1 Program 4/.vs/Q1 Program 4/DesignTimeBuild
/VisualStudio/Q2 Program 2 (collect number and add until ok)/Q2 Program 2 (collect number and add until ok)
/VisualStudio/Q2 Program 2 (collect number and add until ok)
/VisualStudio/Q2 Program 5 (enter numbers and return largest number)/Q2 Program 5 (enter numbers and return largest number)/obj/Debug/net6.0
/VisualStudio/Q3 Program 3 (5 unique numbers to sort)/.vs/Q3 Program 3 (5 unique numbers to sort)/v17
/VisualStudio/Q3 Program 4 (list of user numbers but only uniques)
