################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudio/Q1 Program 4/.vs/Q1 Program 4/DesignTimeBuild
/VisualStudio/Q2 Program 2 (collect number and add until ok)/Q2 Program 2 (collect number and add until ok)
/VisualStudio/Q2 Program 2 (collect number and add until ok)
